@page "/"
@using SkiaSharp
@using SkiaSharp.Views.Blazor

<PageTitle>Home</PageTitle>

<h1>Mesh Test</h1>
<hr />
<div class="row">
    <div class="col" align="center">
        <SKCanvasView OnPaintSurface="PaintSurface" style="@Style" />
    </div>
</div>

@code {
    readonly float _width = 400, _height = 400;

    string Style => $"width:{_width}px;height:{_height}px;";

    void PaintSurface(SKPaintSurfaceEventArgs e)
    {
        var canvas = e.Surface.Canvas;
        canvas.Clear(SKColors.White);

        using SKPaint penMesh = new()
            {
                Color = SKColors.LightGray,
                IsAntialias = false,
                Style = SKPaintStyle.Stroke,
            };

        float w = e.Info.Width;
        float h = e.Info.Height;
        // x
        float mx = w / 20.0F;
        for (float x = 0; x < w; x += mx)
        {
            canvas.DrawLine(x, 0, x, h, penMesh);
        }
        canvas.DrawLine(w - 1, 0, w - 1, h, penMesh);
        // y
        float my = h / 20.0F;
        for (float y = 0; y < h; y += my)
        {
            canvas.DrawLine(0, y, w, y, penMesh);
        }
        canvas.DrawLine(0, h - 1, w, h - 1, penMesh);
    }
}